.c-input {
    background: $color-gray;
    border: none;
    border-radius: $border-radius-rounded;
    box-shadow: $shadow-normal;
    color: $color-black;
    cursor: pointer;
    padding: $spacing-2;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    transition: .1s ease;
    border: 2px solid rgba(0, 0, 0, 0);
    position: relative;

    &:focus {
        outline: none;
        border: 3px solid $color-black;
    }

    &.--xs {
        padding: $spacing-1;
        width: 70px;
        height: 30px;

        &.--wide {
            width: 100px;
        }
    }

    &.--sm {
        min-width: 70px;
        width: 70px;
    }

    &.--md {
        min-width: 100px;
        width: 100px;
    }

    &.--lg {
        min-width: 500px;
        width: 500px;
    }

    &[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        height: 5px;
        padding: 0;
        background: $color-white;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $color-fourth;
            cursor: pointer;
            box-shadow: $shadow-normal;
        }
    }

    &[type="radio"] {
        appearance: none;
        background-color: $color-gray;
        border: 0.15em solid $color-fourth;
        border-radius: 50%;
        height: 1.15em;
        width: 1.15em;
        transition: background-color 0.2s ease;

        &:checked {
            background-color: $color-fourth;
        }
    }
}