.c-modal {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, oklch(var(--p)), oklch(var(--s)));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__body {
        cursor: default;
        position: relative;
        background: #eee;
        padding: 16px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__exit {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}