.c-popover {
    background: $color-gray-dark;
    border-radius: $border-radius-rounded;
    box-shadow: $shadow-normal;
    position: fixed;
    padding: $spacing-2;
    transform: translate(-100%, 0);
    width: max-content;
    z-index: 9999;
}