.c-token{
    background: $color-fourth;
    border-radius: $border-radius-rounded;
    color: $color-white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-sm;
    margin: $spacing-1;
    padding: $spacing-half $spacing-2;
    cursor: pointer;
    transition: .1s ease;
    white-space: pre;

    &:hover{
        transform: scale(1.1);
    }
}