@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Varela Round', sans-serif;
    color: $color-black;
    font-size: $font-size-md;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: oklch(var(--s));
    border-radius: 4px;
    border: 2px solid oklch(var(--a));
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}