// move to css variables
$color-first: rgb(206, 59, 158);
$color-second: rgb(233, 193, 55);
$color-third: rgb(59, 206, 107);
$color-fourth:rgb(55, 95, 233);
$color-white: #eff;
$color-black: #222;
$color-gray: #eee;
$color-gray-dark: #cecece; // replace with background color
$color-gray-darker: #474c57;
$color-red: rgb(233 55 75);

$color-background: $color-gray-dark; 
// primary (color & background)
// secondary (color & background)

$border-radius-round: 100px;
$border-radius-rounded: 10px;

$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 32px;

$spacing-half: 2px;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;
$spacing-9: 36px;
$spacing-10: 40px;
$spacing-11: 44px;
$spacing-12: 48px;
$spacing-13: 52px;
$spacing-14: 56px;
$spacing-15: 60px;
$spacing-16: 64px;
$spacing-17: 68px;
$spacing-18: 72px;
$spacing-19: 76px;
$spacing-20: 80px;

$shadow-normal: rgba(0, 0, 0, 0.35) 0px 5px 15px;