.p-app {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    grid-template-rows: 65px 1fr max-content;
    grid-template-columns: 65px 1fr max-content;
    grid-template-areas:
        "left header right"
        "left content right"
        "left footer right";

    @media (max-width: 1024px) {
        grid-template-areas:
            "header header header"
            "left content right"
            "left footer footer";
    }

    &__area-header {
        grid-area: header;
    }

    &__area-footer {
        grid-area: footer;
    }

    &__area-content {
        grid-area: content;
    }

    &__area-left {
        grid-area: left;
    }

    &__area-right {
        grid-area: right;
    }

    &__grid {
        image-rendering: pixelated;
        object-fit: contain;
        background: repeating-conic-gradient(#eee 0% 25%, #ccc 0% 50%) 50% / 10px 10px;
    }

    &__block {
        border-radius: 10px;
        margin: 4px;
        padding: 4px;
        background: oklch(var(--b1) / .2);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}